*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App {
  text-align: center;
  width: 100vw;
  height: 100vw;
  background-color: rgba(115, 224, 224, 0.144);
  
}
.die-container {
  display: flex;
  justify-content: space-around;
}
.roll-dice {
  margin:auto;
  width: 50vw;
  
}

.rolling-dice{
  animation-name: shake;
  animation-duration: 1s;
}

.die{
font-size: 120px;
color: darkslategrey;

}

.roll-dice-button{
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 6px;
  width: 6em;
}
.roll-dice-button:hover {
  background-color: darkslategrey;
}


